.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}
