.popup__content {
  position: relative;
  color: #000;
  background-color: #fff;
  min-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .popup__content  {
    min-width: 282px;
    min-height: 322px;
  }
}  