.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding: 0;
  margin: 0 0 -9px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: flex-end;
}

@media screen and (max-width: 1023px) {
  .profile__name  {
    font-size: 30px;
    line-height: 32px;
    margin: 0;
  }
}


@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
  }
} 

