/* нормализация стилей */
@import url(../vendor/normalize.css);
/* шрифты */
@import url(../vendor/fonts/inter.css);
/* стиль (обертка) всей страницы */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__cover/page__cover.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__discript/profile__discript.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/* gallery */
@import url(../blocks/gallery/__cards/gallery__cards.css);
@import url(../blocks/gallery/__card/gallery__card.css);
@import url(../blocks/gallery/__photo/gallery__photo.css);
@import url(../blocks/gallery/__discript/gallery__discript.css);
@import url(../blocks/gallery/__text/gallery__text.css);
@import url(../blocks/gallery/__like-button/gallery__like-button.css);
/* footer */
@import url(../blocks/footer/__autor/footer__autor.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-discript/popup__form-discript.css);
@import url(../blocks/popup/__form-name/popup__form-name.css);
@import url(../blocks/popup/__form-about/popup__form-about.css);
@import url(../blocks/popup/__form-button/popup__form-button.css);